@model EventEatsQuotify.ViewModels.CustomerProfiileViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">

            <div class="main-section shadow mt-5">
                <div class="card-body">

                    <h1 class="text-center text-pink-menu mb-4">Edit Customer Profile</h1>

                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3 row">
                            <div class="col">
                                <label asp-for="Name" class="form-label text-light">Name</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="ContactEmail" class="form-label  text-light">Contact Email</label>
                                <input asp-for="ContactEmail" class="form-control" />
                                <span asp-validation-for="ContactEmail" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ContactPhone" class="form-label  text-light">Contact Phone</label>
                            <input asp-for="ContactPhone" class="form-control" />
                            <span asp-validation-for="ContactPhone" class="text-danger"></span>
                        </div>

                        <!-- Profile Picture Upload -->
                        <div class="mb-3">
                            <label asp-for="ProfilePictureFile" class="form-label  text-light">Profile Picture</label>
                            <input asp-for="ProfilePictureFile" type="file" class="form-control" />
                            <span asp-validation-for="ProfilePictureFile" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-dark bg-pink-menu mt-3">Save Changes</button>
                        </div>
                    </form>

                    <p class="text-center mt-3">
                        <a asp-action="Index" class="btn  text-muted">Back to Profile</a>
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>
