@model EventEatsQuotify.ViewModels.CustomerProfiileViewModel

<div class="container mt-5">
    <div class="row">

        <!-- Profile Image -->
        <div class="col-md-4">
            <div class="card text-center p-4 border border-primary rounded-3 shadow">
                @if (Model.ProfilePicture != null)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.ProfilePicture)" alt="Profile Image" class="img-fluid rounded-circle mb-3">
                }
                else
                {
                    <img src="~/images/defaultimages/user.png" alt="Default Profile Image" class="img-fluid rounded-circle mb-3">
                }

                <p class="lead text-muted fs-6">Customer since: [@Model.RegistrationDate.ToString("yyyy-MM-dd")]</p>
            </div>
        </div>

        <!-- Profile Details -->
        <div class="col-md-8">
            <div class="card shadow p-4 border-0 rounded-3">
                <h1 class="display-4 text-primary mb-4">@Model.Name</h1>

                <dl class="row">
                    <dt class="col-sm-3 text-muted">Contact Email:</dt>
                    <dd class="col-sm-9">@Model.ContactEmail</dd>

                    <dt class="col-sm-3 text-muted">Contact Phone:</dt>
                    <dd class="col-sm-9">@Model.ContactPhone</dd>
                   
                </dl>

                <hr class="my-4 border-primary">

                <div class="text-center mt-4">
                    <a asp-action="Edit" class="btn btn-primary btn-lg rounded-pill">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
