@model EventEatsQuotify.ViewModels.CustomerProfiileViewModel

<div class="  d-flex justify-content-center align-items-center my-5">
    <div class=" customerprofile ">
        <div class="d-flex main-section  flex-column">
            <h2 class=" text-light text-center mb-3">Customer Profile</h2>
            <!-- Profile Image -->
            <div class="">
                <div class=" text-center p-4  rounded-3 shadow">
                    @if (Model.ProfilePicture != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(Model.ProfilePicture)" alt="Profile Image" width="50%" class="img-fluid rounded-circle mb-3">
                    }
                    else
                    {
                        <img src="~/images/team/teamone.jpg" alt="Default Profile Image" width="50%" class="img-fluid rounded-circle mb-3">
                    }

                    <p class="lead text-light fs-6">Customer since: <br /> <span class="text-pink-menu ">@Model.RegistrationDate.ToString("yyyy-MM-dd")</span></p>
                </div>
            </div>

            <!-- Profile Details -->
            <div class="">
                <div class="card bg-dark shadow p-4 border-0 rounded-3">
                    <h6 class="display-5 text-pink-menu fw-bold mb-4">
                        @Model.Name <a asp-action="Edit" class="btn btn-success btn-sm rounded-circle"><i class="fas fa-edit"></i></a>
                    </h6>

                    <dl class="row">
                        <dt class="col-sm-3 text-muted">Email:</dt>
                        <dd class="col-sm-9 text-light">@Model.ContactEmail</dd>

                        <dt class="col-sm-3 text-muted">Phone:</dt>
                        <dd class="col-sm-9 text-light">@Model.ContactPhone</dd>

                    </dl>

                

                </div>
            </div>
        </div>
    </div>
</div>
