@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row-carousel row shadow rounded">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide w-60 h-60" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active h-100">
                        <img src="/images/carouselImages/p1.jpg" class="d-block w-100 h-100" alt="Pizza">
                    </div>
                 @*    <div class="carousel-item h-100">
                        <img src="/images/carouselImages/pakwan2.jpg" class="d-block w-100 h-100" alt="Pizza">
                    </div> *@
                 @*    <div class="carousel-item h-50">
                        <img src="/images/carouselImages/img3.jpg" class="d-block w-100 h-50" alt="Pizza">
                    </div> *@

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            @* <div class="mb-3">
                <h2>
                    Get the Best Pizza From the best in the Market
                </h2>
            </div>
            <div class="mb-3 p-3">
                <span class="fs-5 text-dark">arabic ranch</span>
            </div>
            <div class="mb-3 p-3">
                <span class="fs-5 text-dark">arabic ranch</span>
            </div>
                        <div class="mb-3 p-3">
                <span class="fs-5 text-dark">arabic ranch</span>
            </div> *@
            <div class="text-center fs-5" style="margin-top: 20%;">
                <b>
                    "EventEats Quotify: Your Culinary Journey Begins Here"
                </b>
                <br />
                Explore a world of delightful flavors tailored for your events. From exquisite appetizers to mouthwatering main courses, we're here to make your occasions memorable.
                Join us and experience the convenience of online event food ordering and instant quotations. Your event, your way!
            </div>


        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12 mb-3">
            <h2 class="text-dark fst-italic">
                Today's Special
            </h2>
            <div id="todaySpecial" class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col">
                    <div class="card dishCard">
                        <img class="card-img-top h-75" src="/images/carouselImages/pakwan1.png" alt="" />
                        <div class="card-body">
                            <p class="card-title">Karachi Pakwan House</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col">
                    <div class="card dishCard">
                        <img class="card-img-top h-75" src="~/images/carouselImages/pakwan3.jpg" alt="" />
                        <div class="card-body">
                            <p class="card-title">Delicious Pakwan</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col">
                    <div class="card dishCard">
                        <img class="card-img-top h-75" src="~/images/carouselImages/pakwan4.jpg" alt="" />
                        <div class="card-body">
                            <p class="card-title">New Pakwan Center</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>  